# exportPattern("^[[:alpha:]]+")
import(parallel)
import(methods)
import(grid)
importFrom("grDevices", "n2mfrow")
importFrom("utils", "head")
export(
    "classS4Creator",
    "duplicated2",
    "GC",
    "header",
    "h",
    "lsos",
    "mail",
    "maxCores",
    "mclapply2",
    "colSd",
    "rowSd",
    "colSe",
    "rowSe",
    "is.pair"
)