# exportPattern("^[[:alpha:]]+")
# import(parallel)
# import(ggplot2)
# import(methods)
# import(grid)
export(
    "classS4Creator",
    "duplicated2",
    "extractExpr",
    "GC",
    "header",
    "h",
    "lsos",
    "mail",
    "maxCores",
    "mclapply2",
    "readFast",
    "multiplot",
    "colSd",
    "rowSd",
    "colSe",
    "rowSe",
    "is.pair"
)